<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSystemExtensionUsageDescription</key>
	<string>System ext usage desc</string>
	<key>CMIOExtension</key>
	<dict>
		<key>CMIOExtensionMachServiceName</key>
		<string>X52DR36JY2.com.newchromantics.PopShaderCamera</string>
	</dict>
</dict>
</plist>
