#include "./Version.xcconfig"



PRODUCT_NAME = $(PRODUCT_BUNDLE_IDENTIFIER)

//	bundle displayed in the Camera Extensions in Settings app when user enables use
//INFOPLIST_KEY_CFBundleDisplayName = $(TARGET_NAME)
INFOPLIST_KEY_CFBundleDisplayName = PopKinectWebcam Camera Extension

//	gr: not sure this is used, maybe just for app
INFOPLIST_KEY_NSSystemExtensionUsageDescription = System extension in plist

//	dawn currently only arm
VALID_ARCHS = arm64 x86_64
ARCHS = $(VALID_ARCHS)
