VERSION_MAJOR = 0
VERSION_MINOR = 1
VERSION_PATCH = 4


//	CFBundleVersion
//	- identity "build number" in ui
//	- but we want this as the actual version... xcode has broken build numbers?
CURRENT_PROJECT_VERSION = $(VERSION_MAJOR).$(VERSION_MINOR).$(VERSION_PATCH)
//	CFBundleShortVersionString - identity "version"
MARKETING_VERSION = $(CURRENT_PROJECT_VERSION)

DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)
DYLIB_COMPATIBILITY_VERSION = $(CURRENT_PROJECT_VERSION)

VERSIONING_SYSTEM = apple-generic



//	pass to macros into c
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS) VERSION_MAJOR=$(VERSION_MAJOR) VERSION_MINOR=$(VERSION_MINOR) VERSION_PATCH=$(VERSION_PATCH)
